


p {
  margin-top: 11px;
  padding-left: 8px;
  font-family: 'Covered By Your Grace';
  font-size: 25px;
}

a {
  font-family: 'Oswald';
}

#newTitle {
  font-family: 'Merriweather';
  font-size: 20px;
  color: white;
  margin-left: 42%;
}

.Picture {
  text-align: center;
}

.profilePic {
  width: 60%;
  background-color: white;
}

.headingTitle {
  font-size: 20px;
  padding: 0px;
/*  margin-left: 34%; */
}


.profileLabel {
  font-size: 18px;
  margin-left: 15%;
  align: left;
}

.profileList {
  font-size: 18px;
  text-decoration: none;
}

.profileList:active {
  background-color: none;
}


.Location a{
  font-family: 'Oswald';
  font-size: 20px;
  text-decoration: none;
  border-style: solid;
  border-color: lightgray;
  border-width: thin;
  padding: 3px;
  background: #3A4C7A;
}
.Location {
  margin-left: 35%;
  color: white;
}

.Recent {
  margin-left: 17%;
  color: white;
}
